@model IEnumerable<OceanTechLevel1.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Danh sách Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta charset="UTF-8">
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Danh sách Employee</h2>

    @using (Html.BeginForm("ListOfEmployee", "Employee", FormMethod.Get))
    {
        <div class="input-group" style="width: 300px;">
            <input type="text" name="searchTerm" placeholder="Tìm kiếm..." class="form-control" value="@Context.Request.Query["searchTerm"].FirstOrDefault()" />
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
    }
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Họ tên</th>
            <th>Ngày sinh</th>
            <th>Tuổi</th>
            <th>Dân tộc</th>
            <th>Nghề nghiệp</th>
            <th>Vị trí</th>
            <th>CCCD</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>
            <th>Số văn bằng(chưa hết hạn )</th> <!-- Thêm cột số lượng văn bằng -->
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.FullName</td>
                <td>@employee.BirthDate.ToShortDateString()</td>
                <td>@employee.Age</td>
                <td>@employee.Ethnicity?.EthnicityName</td>
                <td>@employee.Occupation?.OccupationName</td>
                <td>@employee.Position?.PositionName</td>
                <td>@employee.CitizenId</td>
                <td>@employee.PhoneNumber</td>
                <td>@employee.Province?.ProvinceName, @employee.District?.DistrictName, @employee.Commune?.CommuneName,@employee?.MoreInfo</td>
                <td>
                    <a href="@Url.Action("EmployeeQualifications", "Employee", new { employeeId = employee.Id })" class="text-primary">
                        @employee.QualificationCount
                    </a>
                </td>

                <!-- Hiển thị số lượng văn bằng -->
                <td class="d-flex justify-content-between">
                    <a href="@Url.Action("Edit", "Employee", new { id = employee.Id })" class="btn btn-sm btn-primary ">Sửa</a>
                    <a href="@Url.Action("Delete", "Employee", new { id = employee.Id })" class="btn btn-sm btn-danger ">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "Employee")" class="btn btn-success">Thêm Employee mới</a>
