@model IEnumerable<OceanTechLevel1.Models.Commune>

@{
    ViewData["Title"] = "Danh Sách Xã";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Danh Sách Xã</h2>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <a href="/Commune/Create" class="btn btn-info">Thêm mới Xã</a>

        @using (Html.BeginForm("Index", "Commune", FormMethod.Get))
        {
            <div class="input-group" style="width: 300px;">
                <input type="text" name="searchTerm" placeholder="Tìm kiếm..." class="form-control" value="@Context.Request.Query["searchTerm"].FirstOrDefault()" />
                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            </div>
        }
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên Xã</th>
                <th>Huyện</th>
                <th>Tỉnh</th>
                <th>Hành Động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var commune in Model)
            {
                <tr>
                    <td>@commune.CommuneId</td>
                    <td>@commune.CommuneName</td>
                    <td>@commune.District.DistrictName</td>
                    <td>@commune.District.Province.ProvinceName</td>
                    <td>
                        <a href="/Commune/Edit/@commune.CommuneId" class="btn btn-warning btn-sm">Sửa</a>

                        <!-- Form xóa -->
                        <form action="/Commune/Delete/@commune.CommuneId" method="post" style="display:inline;" onsubmit="return confirmDelete();">
                            <button type="submit" class="btn btn-danger btn-sm">Xóa</button>
                        </form>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="5">
                    @{
                        int PrevPage = ViewBag.Page - 1;
                        if (PrevPage <= 0)
                        {
                            PrevPage = 1;
                        }
                        int NextPage = ViewBag.Page + 1;
                        if (NextPage > ViewBag.NoOfPages)
                        {
                            NextPage = ViewBag.NoOfPages;
                        }

                    }
                    <ul class="pagination justify-content-center">
                        <li class="page-item ">
                            <a class="page-link" href="@Url.Action("Index", "Commune",new { page = PrevPage, searchTerm = Context.Request.Query["searchTerm"].FirstOrDefault() })">
                                Prev
                            </a>
                        </li>
                        @for (int i = 0; i < ViewBag.NoOfPages; i++)
                        {
                            if (i + 1 == ViewBag.Page)
                            {
                                <li class="page-item active">
                                    <a class="page-link" href="@Url.Action("Index", "Commune", new { page = (i + 1), searchTerm = Context.Request.Query["searchTerm"].FirstOrDefault() })">
                                        @(i + 1)
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item ">
                                    <a class="page-link" href="@Url.Action("Index", "Commune", new { page = (i + 1), searchTerm = Context.Request.Query["searchTerm"].FirstOrDefault() })">
                                        @(i + 1)
                                    </a>
                                </li>
                            }
                        }
                        <li class="page-item active">
                            <a class="page-link" href="@Url.Action("Index", "Commune", new { page = NextPage, searchTerm = Context.Request.Query["searchTerm"].FirstOrDefault() })">
                                Next
                            </a>
                        </li>
                    </ul>
                </td>

            </tr>
        </tbody>
    </table>
</div>

<script>
    function confirmDelete() {
        return confirm('Bạn có chắc chắn muốn xóa xã này cùng với các nhân viên liên quan?');
    }
</script>
