@model OceanTechLevel1.Models.District

@{
    ViewData["Title"] = "Chỉnh Sửa Huyện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="/District/Edit" method="post">
    <input type="hidden" name="DistrictId" value="@Model.DistrictId" />
    <div class="row">
        <div class="col-md-6">
            <label for="DistrictName">Tên Huyện</label>
            <input type="text" class="form-control" id="DistrictName" name="DistrictName" placeholder="DistrictName" value="@Model.DistrictName" />
        </div>
        <div class="col-md-6">
            <label for="ProvinceId">Tỉnh</label>
            <select class="form-control" id="ProvinceId" name="ProvinceId">
                @foreach (var province in ViewBag.ProvinceId as SelectList)
                {
                    <option value="@province.Value" @(province.Value == Model.ProvinceId.ToString() ? "selected" : "")>@province.Text</option>
                }
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Cập Nhật</button>
    <a href="/District/Index" class="btn btn-secondary">Hủy</a>
</form>
